body{
    margin-top: 0px;
    background: linear-gradient(-45deg, #f3f711, #e72b2b, #26e915,#23a6d5) no-repeat ;
    background-size: 300% 1300%;
    animation: animation 15s ease infinite;
    animation-direction: alternate-reverse;
    font-family: 'Libre Baskerville', serif;
}

@keyframes animation{
    0%{background-position: 0% 50%;}
    50%{background-position: 50% 50%;}
    100%{background-position: 100% 50%;}
}

.tab{
    display: flex;
    margin: 5%;
    margin-top: 0%;
    align-items: center;
    justify-content: center;
    height: 20%;
}
 .timer-button{
     background-color: #23a6d5;
     border-style: none;
     height: 50px;
     width: 30%;
 }
 .timer-button:hover{
    background-color: #60cff8;
    border-style: none;
    height: 50px;
    width: 30%;
}
 input{
     height: 44px;
     text-align: center;
 }
 .display{
     margin: 5%;
     text-align: center;
 }
 h1{
     font-size: 10em;
 }
 p{
     font-size: 3em;
 }